
<!--base.html-->
{#这是什么意思呢？ 你刚刚创建了一个block（块），这个模板标签允许你在其中插入扩展自base.html的模板的HTML代码。 #}

{% load static %}
<!--还需要告诉HTML模板，我们添加了一些CSS。-->


<html>
    <head>
        <title>Django Girls blog</title>
        <!--下面两行代码将会直接饮用bootstrap框架-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--这是自己添加的css-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{#        在我们的title中自定义Google的龙虾字体（ https://www.google.com/fonts ）#}
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div class="page-header">
            <!--下面这行代码指向页面表单的链接-->
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>